<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; flex-wrap: wrap;">
        {% for task in tasks %}
        <div class="card" style="width: 18rem; margin: 10px;">
            <div class="card-body">
                <strong>Name: {{ task.name }}</strong><br>
                <strong>Created at: {{ task.created_at }}</strong><br>
                <a href="#" style="margin-left: 37%">Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>